{% extends '::qbase.html.twig' %}


{% block title %}快修微信-修改密码{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
<div class="kx-container">
	<!-- 头部 -->
	<div class="kx-head">
		<a href="{{ path('zm_member_index') }}"><div class="kx-img kx-head-home-img"></div></a>
		<div class="kx-head-center-font">修改密码</div>
	</div>
	<!-- 头部结束 -->
	<!-- 正文 -->
	<div class="kx-body">
		<form class="register-form padding-15-1 form-input" action="" method="post">
			<div class="input-group">
				<span class="input-name font-black">原密码</span>
				<input class="classinput" type="password" placeholder="请输入原密码" name="password_old" value="" />
			</div>
			<div class="horizontal-line"></div>
			<div class="input-group">
				<span class="input-name font-black">新密码</span>
				<input class="classinput ml-80" type="password" placeholder="请设置新密码" name="password_new" value="" />
			</div>
			<div class="horizontal-line"></div>
			<div class="input-group">
				<span class="input-name font-black">确认密码</span>
				<input class="classinput ml-80" type="password" placeholder="请再次输入密码" name="confirm_password_new" value="" />
			</div>
			<div class="horizontal-line"></div>
			{% if error['content'] != '' %}
                <p style="margin-top: 10px;text-align:center;font-size:24px;color: #f00;" class="for-err-tip">{{ error['content'] }}</p>
            {% endif %}
			<div style="margin-top:40px;" class="register-next"><input style="margin-left:0px;" type="submit" value="提交" class="btn register-next-btn bg-white"/></div>
		</form>
	</div>
	<!-- 正文结束 -->
</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
	var time=0;
	$(".kx-checkbox-img").click(function(){
		time++;
		if(time==1){$(this).css({"background-position":"0px -178px"});}
		if(time==2){$(this).css({"background-position":"0px -159px"});time=0;}
	});

</script>
{% endblock %}