{% extends '::sh_base.html.twig' %}

{% block title %}快修微信-我的积分{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

    {% block body %}
    <!-- 正文开始 -->
		<div class="kx-body " style="min-height:340px">
			<div class="score-head font-14">
				<span>我的积分</span>
				<span class="color-orange-red">{{ total_score }}</span>
				<a href="{{ path('zm_store_store_how_get_score') }}" class="fr font-color-blue">如何获取积分</a>
			</div>
			<div class="jf-tab">
				<ul>
					<li>积分明细</li>
					<!-- <li>积分收入</li>
					<li>积分支出</li> -->
				</ul>
			</div>
			<!-- tab 内容显示 -->
			<div class="jf-tab-content">
				<!-- 积分明细 -->
				<div class="jf-content-wrap font-14">
					{% for item in data %}
					<div class="jf-content">
						<div class="jf-text1">
							<span>{{ item.description }}</span>
							<span class="font-light-gray"></span>
							<span class="color-orange-red fr">+{{ item.points }}</span>
						</div>
						<div class="jf-text2">
							<span>{{ item.date_added }}</span>
							{#<span class="fr font-light-gray">{{ item.description }}</span>#}
						</div>
					</div>
					<div class="horizontal-line"></div>
					{% endfor %}

				</div>
				<!-- end 积分明细 -->
				<div style="text-align:center;">{{ render|raw }}</div>
				<!-- 积分收入 -->
				<div class="jf-content-wrap font-14">
					<div class="jf-content">
						<div class="jf-text1">
							<span>海尔洗衣机</span>
							<span class="font-light-gray">(鲁港东区14栋)</span>
							<span class="color-orange-red fr">+15</span>
						</div>
						<div class="jf-text2">
							<span>2015-5-20 7:59:00</span>
							<span class="fr font-light-gray">交易获得</span>
						</div>
					</div>
					<div class="horizontal-line"></div>
					<div class="jf-content">
						<div class="jf-text1">
							<span>兑换礼品</span>
							<span class="font-light-gray">(鲁港东区14栋)</span>
							<span class="font-color-blue fr">-15</span>
						</div>
						<div class="jf-text2">
							<span>2015-5-20 7:59:00</span>
							<span class="fr font-light-gray">交易获得</span>
						</div>
					</div>
					<div class="horizontal-line"></div>
					<div class="jf-content">
						<div class="jf-text1">
							<span>海尔洗衣机</span>
							<span class="font-light-gray">(鲁港东区14栋)</span>
							<span class="color-orange-red fr">+15</span>
						</div>
						<div class="jf-text2">
							<span>2015-5-20 7:59:00</span>
							<span class="fr font-light-gray">交易获得</span>
						</div>
					</div>
					<div class="horizontal-line"></div>
				</div>
				<!-- end 积分收入 -->
				<!-- 积分支出 -->
				<div class="jf-content-wrap font-14">
					<div class="jf-content">
						<div class="jf-text1">
							<span>兑换礼品</span>
							<span class="font-light-gray">(鲁港东区14栋)</span>
							<span class="font-color-blue fr">-15</span>
						</div>
						<div class="jf-text2">
							<span>2015-5-20 7:59:00</span>
							<span class="fr font-light-gray">交易获得</span>
						</div>
					</div>
					<div class="horizontal-line"></div>
					<div class="jf-content">
						<div class="jf-text1">
							<span>兑换礼品</span>
							<span class="font-light-gray">(鲁港东区14栋)</span>
							<span class="font-color-blue fr">-15</span>
						</div>
						<div class="jf-text2">
							<span>2015-5-20 7:59:00</span>
							<span class="fr font-light-gray">交易获得</span>
						</div>
					</div>
					<div class="horizontal-line"></div>
					<div class="jf-content">
						<div class="jf-text1">
							<span>兑换礼品</span>
							<span class="font-light-gray">(鲁港东区14栋)</span>
							<span class="font-color-blue fr">-15</span>
						</div>
						<div class="jf-text2">
							<span>2015-5-20 7:59:00</span>
							<span class="fr font-light-gray">交易获得</span>
						</div>
					</div>
					<div class="horizontal-line"></div>
				</div>
				<!-- end 积分支出 -->
			</div>
			<!-- tab 内容显示完毕 -->
		</div>
	<!-- 正文结束 -->
    {% endblock %}

	{% block footer %}
	{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
	$(function(){
		//tab初始化
		$('.jf-tab li').eq(0).css({"color":"#ff6000"}).siblings().css({"color":"#000"});
		$('.jf-tab li').eq(0).addClass("border-bottom-orange").siblings().removeClass("border-bottom-orange");
		$('.jf-content-wrap').eq(0).show();
		//积分tab点击事件
		$('.jf-tab li').click(function(){
			$(this).css({"color":"#ff6000"}).siblings().css({"color":"#000"});
			$(this).addClass("border-bottom-orange").siblings().removeClass("border-bottom-orange");
			//积分详情显示
			var index=$(this).index();
			$('.jf-content-wrap').eq(index).show().siblings().hide();
		});
		
	})
</script>
{% endblock %}

