{% extends '::qbase.html.twig' %}


{% block title %}快修微信-民间高手{% endblock %}

{% block stylesheets %}
{{parent()}}

{% endblock %}


{% block body %}  
<div class="kx-container ">
	<!-- 头部 -->
		<div class="kx-head">
			<a href="{{ path('zm_member_index') }}"><div class="kx-img kx-head-home-img"></div></a>
			<div class="kx-head-center-font">民间高手</div>
			<!-- <div class="kx-head-right-font"><a href="login.html">登录</a></div> -->
		</div>
	<!-- 头部结束 -->
	<!-- 正文 -->
		<div class="kx-body padding-b-0 over-flow">
            <!-- 分类筛选 -->
        <div class="slide-menu-wrap font-color-light-gray">
            <!--title 选择  -->
            <div class="home-appliance slide-menu-title ">
                <span class="slide-name">家电</span>
                <span class="kx-img arrows arrow-up"></span>
            </div>
            <div class="area-sorting slide-menu-title">
                <span class="slide-name ">区域</span>
                <span class="kx-img arrows arrow-up"></span>
            </div>
            <div class="intelligent-sorting slide-menu-title">
                <span class="slide-name">默认排序</span>
                <span class="kx-img arrows arrow-up"></span>
            </div>
            <!-- end title选择 -->
            <!-- 分类显示-->
            <div class="classify">
            <!-- 家电排序 -->
            <div class="slide-menu-list home">
                <ul>
                    {% for item in appliance_list %}
                    <li class="selected">
                        <a style="color:#8d8d8d !important;display: block;width: 100%;" href="{{ path('zm_member_index_personal') }}?appliance_id={{ item.id }}{% if filter.store_name %}&store_name={{filter.store_name}}{% endif %}{% if filter.res_district_id %}&res_district_id={{filter.res_district_id}}{% endif %}{% if filter.order %}&order={{filter.order}}{% endif %}">
                            {#<img src="{{ webIp }}image/appliance/{{ item.image }}" class="slide-img" />#}
                            <span class="margin-left-30">{{ item.appliance_name }}</span>
                        </a>
                    </li>
                    <div class="horizontal-dot-line"></div>
                    {% endfor %}
                </ul>
            </div>
            <!-- end 家电排序 -->
            <!-- 区域选择 -->
            <div class="slide-menu-list area">
                <ul class="area-list searchlistfirst">
                </ul>
            </div>
            <!-- end 区域选择 -->
            <!-- 默认排序 -->
            <div class="slide-menu-list intelligence">
                <ul>
                    <li class="selected">
                        <a style="color:#8d8d8d !important;display: block;width: 100%;" href="{{ url }}" class="mar-left-10" >默认排序</a>
                    </li>
                    <div class="horizontal-dot-line"></div>
                    <li>
                        <a style="color:#8d8d8d !important;display: block;width: 100%;" href="{{ url }}&is_near=1" class="mar-left-10">离我最近</a>
                    </li>
                    <li>
                        <a style="color:#8d8d8d !important;display: block;width: 100%;" href="{{ url }}&order=order_num" class="mar-left-10">维修量</a>
                    </li>
                    <div class="horizontal-dot-line"></div>
                    <li>
                        <a style="color:#8d8d8d !important;display: block;width: 100%;" href="{{ url }}&order=grade" class="mar-left-10">好评量</a>
                    </li>
                </ul>
            </div>
            <!-- end 默认排序 -->
            </div>
            <!-- end 分类显示 -->
        </div>
        <!-- end 分类筛选 -->



			<div class="order-group padding-top-50">
                {% for item in personal %}
    			<a href="{{ path('zm_member_store_info',{'id':item.id}) }}" class="order-list ">
                    <img src="{{ webIp }}image/store/{{ item.image }}" class="head-portrait" /> 
                    <span class="order-detail-wrap" style="display:inline-block;">
                        <p class="font-size-16 mar-top-5">{{ item.store_name }}</p>
                        <div class="shop-collection-wrap font-color-light-gray">
                            <p>店铺星级 {% if item.level == 1 %}一{% elseif item.level == 2 %}二{% elseif item.level == 3 %}三{% elseif item.level == 4 %}四{% elseif item.level == 5 %}五{% elseif item.level == 6 %}六{% elseif item.level == 7 %}七{% endif %}星</p>
                            <p>好评度 {{ item.grade }}</p>
                            <span>累计完成订单 {{ item.order_num }}次</span>
                        </div>
                    </span>
                </a>
                <div class="horizontal-line"></div>
                {% endfor %}
    		</div>
            <!-- 分页 -->
            {% autoescape false %}  
            <div class="pages-container">
                {{ render|raw }}    
            </div>
            {% endautoescape %}  
            <!--END 分页 -->
		</div>
	<!-- 正文结束-->
	</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=3d18631be7a75d9ed24ecc963abb0fb4"></script>
<script type="text/javascript">
$(function(){
        var cid = {{ city_id }};
         
        var url= "{{ path('zm_member_getDistrictAjax', {'id': 'ID'}) }}";
        url = url.replace("ID", cid);

        $.ajax({
            type:"get",
            url:url,
            dataType:"json",
            success:function(data){
                var length=data.length;
                 
                for(var i=0;i<length;i++){
                    var district_option = "<li class='mar-left-10'><a style='color:#8d8d8d !important;display:block;width:100%' href='{{ path('zm_member_index_personal') }}?res_district_id="+ data[i].id +"{% if filter.store_name %}&store_name={{filter.store_name}}{% endif %}{% if filter.appliance_id %}&appliance_id={{filter.appliance_id}}{% endif %}{% if filter.order %}&order={{filter.order}}{% endif %}'>"+data[i].name+"</a></li>";
                    $(".searchlistfirst").append(district_option);
                }
                
            }
        })


})
</script>
<script>
    //城市名
    var city = $('#position').text();
    //console.log(city);
    var length = city.length;
    //console.log(length);
    var num;
    if(length ==3){
        num=2;
    }
    if(length ==4){
        num=3;
    }
    if(length ==5){
        num=4;
    }
    if(length >5){
        num=4;
    }

    city = city.slice(0,num); 
    $('#position').text(city);   

    //title 点击事件
    var flag=0;
    $("#area-detail-1").show();
    $('.slide-menu-title').click(function(){
        flag++;
        if(flag==1){
            var index=$(this).index();
            // console.log(index);
            $(".slide-menu-list").eq(index).slideDown().siblings().hide();
            $(this).find(".arrows").removeClass("arrow-up").addClass("arrow-down");
        }
        if(flag==2){
            var index=$(this).index();
            // console.log(index);
            $(".slide-menu-list").eq(index).slideUp().siblings().hide();
            $(this).siblings().find(".arrows").removeClass("arrow-down").addClass("arrow-up");
            $(this).find(".arrows").removeClass("arrow-down").addClass("arrow-up");
            flag=0;
        }
    });
    $('.slide-menu-list li').hover(function(){
        $(this).addClass("selected").siblings().removeClass('selected');
    });
//家电列表  
    $('.home li').click(function(){
        $(this).addClass("selected");
        $(this).siblings().removeClass('selected');
        var txt=$(this).find(".margin-left-30").text();
        $('.home-appliance .slide-name').text(txt);
        $('.slide-menu-list').slideUp();
        $(".home-appliance .arrows").removeClass("arrow-down");
        $(".home-appliance .arrows").addClass("arrow-up");flag=0;
        // alert(txt);
    });
//排序列表
    $('.intelligence li').click(function(){
        $(this).addClass("selected");
        $(this).siblings().removeClass('selected');
        var txt=$(this).find(".mar-left-10").text();
        $('.intelligent-sorting .slide-name').text(txt);
        $('.slide-menu-list').slideUp();
        $(".intelligent-sorting .arrows").removeClass("arrow-down");
        $(".intelligent-sorting .arrows").addClass("arrow-up");flag=0;
        // alert(txt);
    });
    //区域li的hover事件
    $('.area-detail li').click(function(){
        $(this).addClass("selected");
        $(this).siblings().removeClass('selected');
        $('.slide-menu-list').slideUp();
        $(".area-sorting .arrows").removeClass("arrow-down");
        $(".area-sorting .arrows").addClass("arrow-up");flag=0;
    });
    $('.area-list li').hover(function(){
        $(this).addClass("selected");
        $(this).siblings().removeClass('selected');
        var index=$(this).index();
        var i=index/2;
        var txt=$(this).find(".mar-left-10").text();
        $('.area-sorting .slide-name').text(txt);
        $('.area-ul ul').eq(i).show().siblings().hide();
    });

    //头部-搜索 head-search
    $('.search-input').blur(function(){
        $('#head-search').submit();
    })


</script>
{% endblock %}