{% extends '::qbase.html.twig' %}


{% block title %}快修微信-维修记录{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}  
<div class="kx-container">
    <!-- 头部 -->
        <div class="kx-head">
            <a href="{{ path('zm_member_index') }}"><div class="kx-img kx-head-home-img"></div></a>
            <div class="kx-head-center-font">维修记录</div>
            <!-- <div class="kx-head-right-font"><a href="login.html">登录</a></div> -->
        </div>
    <!-- 头部结束 -->
    <!-- 正文 -->
    <div class="kx-body padding-b-0 over-flow"> 
        <div class="order-group">
            {% for item in data %}
            <div class="order-list">
                <img src="{{ webIp }}image/store/{{ item.image }}" class="head-portrait" />
                <span class="order-detail-wrap">
                    <span>{{ item.store_name }}</span><br/>
                    <span>订单号：{{ item.order_sn }}</span><br/>
                    <span>维修品牌：{{ item.manufacturer_name }}</span>&nbsp;&nbsp;<span>维修产品：{{ item.appliance_name }}</span>
                </span>
                {#<div style="top:30px" class="btn  order-btn transaction-completion">
                    <a style="  text-decoration: none;color:#a0a0a0" href="javascript:;">{% if item.status == 0 %}取消订单
                    {% elseif item.status == 1 %}待处理
                    {% elseif item.status == 2 %}已完成
                    {% elseif item.status == 3 %}进行中
                    {% endif %}</a>
                </div>#}
            </div>
            <div class="horizontal-line"></div>
            <div class="connection-wrap">
                <a href="tel:{% if item.store_tel != "" %}{{ item.store_tel }}{% elseif item.phone != "" %}{{ item.phone }}{% endif %}"><span class="kx-img phone-img"></span></a>
                <span class="connection-ways">电话联系</span>
                <div class="btn  order-btn transaction-completion">
                    <a href="{{ path('zm_member_complain_action',{'maintenance_id':item.id}) }}">投诉商家</a>
                </div>
            </div>
            <div class="white-block"></div>
            {% endfor %} 
            <!-- 分页 -->
            {% autoescape false %}  
            <div class="pages-container">
                {{ render|raw }}    
            </div>
            {% endautoescape %}  
            <!--END 分页 -->  
        </div>
    <!-- 正文结束-->
    </div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
	
</script>
{% endblock %}