{% extends '::qbase.html.twig' %}


{% block title %}快修微信-注册2{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
<div class="kx-container">
	<!-- 头部 -->
	<div class="kx-head">
		<a href="{{ path('zm_member_index') }}"><div class="kx-img kx-head-home-img"></div></a>
		<div class="kx-head-center-font">注册</div>
		<div class="kx-head-right-font"><a href="{{ path('zm_member_login') }}">登录</a></div>
	</div>
	<!-- 头部结束 -->
	<!-- 正文 -->
	<div class="kx-body">
		<form class="register-form" action="" method="post">
			<div class="input-group">
				<input class="classinput psdin" type="password" placeholder="密码" name="password" value="" />
			</div>
			<div class="horizontal-line"></div>
			<div class="input-group">
				<input class="classinput conpsd" type="password" placeholder="确认密码" name="confirm_password" value="" />
			</div>
			<div class="horizontal-line errs"></div>
			{% if error['content'] != '' %}
				<p style="margin-top:10px;text-align:center;font-size:24px;color: #f00;" class="for-err-tip">{{ error['content'] }}</p>
			{% endif %}
			<div class="kx-protocol">
				<div class="kx-img kx-checkbox-img pull-left"></div>
				<span class="protocol-text">同意家电快修
				<a style="color:#ff3c00" href="#">《使用协议》</a></span>	
			</div>
			<div class="register-next" style="margin-top:10px;">
				<input type="button" value="提交" class="btn register-next-btn" />
			</div>
		</form>
	</div>
	<!-- 正文结束 -->
</div>
{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
	var time=0;
	$(".kx-checkbox-img").click(function(){
		time++;
		if(time==1){$(this).css({"background-position":"0px -176px"});}
		if(time==2){$(this).css({"background-position":"0px -158px"});time=0;}
	});

	//提交
	$('.register-next-btn').click(function(){
		$('.for-err-tip').remove();
		var psd = $('.psdin').val();
		var conpsd = $('.conpsd').val();
		if($(".kx-checkbox-img").css("background-position") == "0px -176px" && psd!= "" && conpsd != ""){
			$('.register-form').submit();
		}else if($(".kx-checkbox-img").css("background-position") != "0px -176px"){
			$('.errs').after('<p style="margin-top:10px;text-align:center;font-size:24px;color: #f00;" class="for-err-tip">请选择协议</p>');
		}else if(psd== "" && conpsd == ""){
			$('.errs').after('<p style="margin-top:10px;text-align:center;font-size:24px;color: #f00;" class="for-err-tip">请填写密码</p>');
		}
	})
</script>
{% endblock %}